<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${topic.name}">Document</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
            <div class="header__nav-item"><a href="/all-hashtags-template" class="header__nav-link"> All Hashtags</a></div>

        </nav>
    </header>
    <main class="main-content">
        <section class="main-content__topic topic">
            <h2 th:text="${topic.name}" class="topic__title main-content__title">
                Topic
            </h2>
            <nav class="main-content__nav posts__nav">
                <div th:each="post: ${topic.posts}">
                    <a th:text="${post.title}" th:href="'/posts/'+${post.id}" href="#"
                       class="posts__nav-link"></a>
                </div>
            </nav>
        </section>

        <div class="createPost">
            <h3>Create a Post</h3>
            <div class="ReviewBoxes">

                <form th:action="|/topics/SubmitPostTemplate/|+${topic.topicId}" method="POST">
                    <label for="title">Post Title:</label><br>
                    <textarea id="title" name="title" rows="1" cols="50" maxlength="100"></textarea>
                    <input name = "id" type="hidden" th:value="${topic.topicId}">
                    <label for="topic">TOPIC:</label><br>
                    <textarea id="topic" name="topic" rows="4" cols="50" maxlength="200"></textarea>
                    <input name = "id" type="hidden" th:value="${topic.topicId}">
                    <label for="content">TOPIC:</label><br>
                    <textarea id="topic" name="topic" rows="4" cols="50" maxlength

                    <input type="submit" value="Submit New Post">
                    <br>
                    <br>
                </form>
            </div>
        </div>

    </main>
</div>
</body>

</html>